* {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: normal;
  background-color: #f0f6f0;
}

html {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #222323;
  overflow: hidden;
  margin: auto;
}



.topsection{
  margin: 100px auto 0 auto;
  width: 80%;
  text-align: center;
}

.sv_button{
  color: #f0f6f0;
  border: 0;
  padding: 1em 1.5em;
  background-color: #222323;
  text-align: center;
  font-size: 1em;
  border-radius: 5px;

}

.np_button{
  color: #f0f6f0;
  border: 0;
  padding: 1em 1.5em;
  background-color: #222323;
  text-align: center;
  font-size: 1em;
  border-radius: 5px;
}
