* {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: normal;
  background-color: #f0f6f0;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.instr1{
  font-size: 16px;
}
.title{
  margin: auto;
  width: 80%;
  text-align: center;
  font-size:20px;

}
/* .wrapper{
  width: 605px;
  background: #FFF0E8;
  border-radius: 20px;
  padding: 30px 30px 25px;
} */
/* .wrapper{
  align-items: center;
} */

.canvclss{
  align-items: center;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #222323;
  overflow: hidden;
  margin: auto;
}

.row{
  display:flex;
  margin-bottom: 10px;

}
.column{
  flex: 50%;
}

.btnpos_1{
  text-align: left;
}

.btnpos_2{
  text-align: right;
}

.b1{
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 1px solid #222323;
  color:#222323;
  letter-spacing:1px;
  text-shadow:0;
  cursor: pointer;
  transition: all 0.25s ease;
  font-size: 16px:
}

.b1:hover {
  background-color: #222323;
  color: white;
}

.b2{
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 1px solid #222323;
  color:#222323;
  letter-spacing:1px;
  text-shadow:0;
  cursor: pointer;
  transition: all 0.25s ease;
}

.b2:hover {
  background-color: #222323;
  color: white;
