* {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: normal;
  background-color: #white;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 100px auto 0 auto;
  width: 80%;
  text-align: center;
}

canvas {
  display: block;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #000;
  overflow: hidden;
  margin: auto;
}
